{% extends "layout.html" %}

{% block content %}
    <h1>Quell</h1>
    <p class="subtitle">Email Link Viewer</p>
    <div id="dropZone">
        <i class="fas fa-file-import"></i>
        <p>Drop your .eml file here or click to select</p>
    </div>
    <input type="file" id="fileInput" style="display: none;" accept=".eml">
    <div id="loadingBar" class="loading-bar-container" style="display: none;">
        <div class="loading-bar"></div>
    </div>
    <div id="emailMenu" style="display: none;">
        <button id="previewButton"><i class="fas fa-eye"></i> Preview</button>
        <button id="approveButton"><i class="fas fa-check"></i> Approve</button>
        <button id="closeButton"><i class="fas fa-times"></i> Close</button>
        <button id="deleteButton"><i class="fas fa-trash"></i> Delete</button>
    </div>
    <div id="results"></div>
    <div id="emailList" class="email-list">
        <div class="email-list-header">
            <h2>Awaiting Approval</h2>
            <button id="refreshButton" class="refresh-button">
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
        <div id="emailRows"></div>
        <div id="pagination"></div>
    </div>
    <div id="info"><br>
        <p style="font-size:10px; text-align: center; color: #8e8e93;"><i>This is a work in progress. Do not solely rely on this tool. If links are not loading correctly, save a copy of the .eml file for debugging.</i></p>
    </div>

    <script src="script.js"></script>
{% endblock %}