{% extends "layout.html" %}

{% block content %}
    <h1>Quell</h1>
    <p class="subtitle">Email Link Viewer</p>
    <div id="dropZone">
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Drop your <b>.eml</b> file here, or click to select</p>
        <input type="file" id="fileInput" accept=".eml" style="display: none;">
    </div>
    <div id="loadingBar" class="loading-bar-container" style="display: none;">
        <div class="loading-bar"></div>
    </div>
        
    <div id="results"></div>
    <div id="info"><br>
        <p style="font-size:10px; text-align: center; color: #8e8e93;"><i>This is a work in progress. Do not soley rely on this tool. If links are not loading correctly, save a copy of the .eml file for debugging.</i></p>
    </div>

    <script src="script.js"></script>
{% endblock %}
